{% extends "base.html" %}

{% block title %}Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}

<div class="container text-center my-5">
    <p>
        <h2 class="display-4">Publish your passions, your way!</h2>
        <h4>Create a unique and beautiful blog. It’s easy and free.</h4>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="/blog/createPost" role="button">Create Post</a>
        {% endif %}
    </p>
</div>

<div class="container">
    <h2>Most Popular Posts</h2>
    <div class="col-md-6 my-4">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">
                    <u>Featured post</u>
                </h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Read the most popular blog posts...</p>
                <a href="#">Continue reading</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}